<div class="w-full h-full relative overflow-x-hidden">
    <div class="w-full h-full flex flex-col space-y-4">
        <div class="w-full px-6 py-4 grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="col-span-1 flex items-center gap-4">
                <h2 class="text-2xl font-semibold text-gray-600">Clients</h2>
            </div>
            <div
                class="col-span-1 flex justify-center md:justify-end items-center space-x-4"
            >
                <button
                    mat-raised-button
                    color="primary"
                    class="text-white"
                    (click)="onOpenForm()"
                >
                    <mat-icon
                        svgIcon="mat_solid:person_add_alt_1"
                        class="mr-2"
                    ></mat-icon>
                    <span>Ajouter</span>
                </button>
            </div>
        </div>
        <div
            class="relative overflow-x-auto"
            *ngIf="clients$ | async as clients"
        >
            <table class="w-full table-auto">
                <!--Table head-->
                <thead
                    class="text-sm bg-gray-100 uppercase text-gray-400 dark:text-night-300"
                >
                    <tr>
                        <th class="p-3 text-left">Prénom</th>
                        <th class="p-3 text-left">Nom</th>
                        <th class="p-3 text-left">Téléphone</th>
                        <th class="p-3 text-left">Sexe</th>
                        <th class="p-3 text-left">Modifier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        class="border-b text-sm text-gray-700 whitespace-nowrap border-dashed border-gray-200 dark:border-night-500"
                        *ngFor="let client of clients"
                    >
                        <td class="p-4">
                            {{ client.prenom }}
                        </td>
                        <td class="p-4">
                            {{ client.nom }}
                        </td>
                        <td class="p-4 font-semibold">
                            {{ client.telephone }}
                        </td>
                        <td class="p-4 font-semibold">
                            {{ client.sexe }}
                        </td>
                        <td class="p-4">
                            <button
                                mat-icon-button
                                (click)="onOpenForm(client)"
                            >
                                <mat-icon
                                    class="icon-size-4 text-amber-500"
                                    svgIcon="heroicons_solid:pencil"
                                ></mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                (click)="detailsClient(client)"
                            >
                                <mat-icon
                                    class="icon-size-4 text-green-500"
                                    svgIcon="heroicons_solid:eye"
                                ></mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <fuse-drawer
        class="w-160"
        (openedChanged)="formOpened = $event"
        [opened]="formOpened"
        mode="over"
        position="right"
        ><app-client-form
            class="w-full h-full"
            [client]="clientSelected"
            (closeEvent)="onCloseForm($event)"
            *ngIf="formOpened"
        ></app-client-form
    ></fuse-drawer>
    <fuse-drawer
        class="w-160"
        (openedChanged)="detailsOpened = $event"
        [opened]="detailsOpened"
        mode="over"
        position="right"
        ><app-client-details
            class="w-full h-full"
            [client]="clientSelected"
            (closeEvent)="detailsOpened = false"
            *ngIf="detailsOpened"
        ></app-client-details
    ></fuse-drawer>
</div>
